// FONT
$font: 'Noto Sans TC', sans-serif;

// COLORS
$white: #f6f6f6;
$black: #181818;
$grey: #717070;
$orange: #ffac40;
$dark-orange: #cc8529;

// FONT-SIZE
$h1: 5.4vw;
$h2: 3rem;
$h3: 2rem;
$p: 1.6rem;
$a: 2.6rem;

// Z-INDEX  
$low: -1;
$medium: 100;
$tall: 200;