#services{
    @include gridArea(section-services){
        text-align: center;
    };
    @include desktops-l(){
        @include size(100%, 60rem);
    };

    .title{
        color: $dark-orange;
        text-decoration: underline;
        text-decoration-color: $dark-orange;
    }

    .content{
        @include size();
        @include display(flex, center, center){
            flex-direction: column;
        };
        @include desktops-l(){
            flex-direction: row;            
        };

        .service{
            margin: 2rem;
            padding: 2rem;
            background-color: $white;
            border-radius: 1.5rem;
            box-shadow: 0 0 1rem $black;
            @include size(100%, 40rem);
            @include tablet(){
                @include size(70%, 30%);
            };
            @include desktops-l(){
                @include size(33%, 70%);
            };

            .image{
                @include size(90%, 50%);
                @include tablet(){
                    @include size(80%, 60%);
                };
                @include desktops-l(){
                    @include size(100%, 50%);
                };
            }

            .info{
                margin-top: 2rem;
                @include tablet(){
                    margin-top: 6rem;
                };
            }
        }
    }
}