*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;

    body{
        @include display(grid);
        font-family: $font;
        color: $grey;
        background-color: $white;
        overflow-x: hidden;

        h1{
            font-size: $h1;
            @include tablet(){
                font-size: 4.5vw;
            }
            @include desktops-l(){
                font-size: 4vw;
            }
            @include desktops-xl(){
                font-size: 4.5vw;
            }
        }
        
        h2{
            font-size: $h2;
            @include tablet(){
                font-size: 4rem;
            }
            @include desktops-l(){
                font-size: 5rem;
            }
            @include desktops-xl(){
                font-size: 5.5rem;
            }
        }

        h3{
            font-size: $h3;
            @include tablet(){
                font-size: 1.8rem;
            }
            @include desktops-l(){
                font-size: 1.6rem;
            }
        }
        
        p{
            font-size: $p;
            @include tablet(){
                font-size: 2rem;
            }
            @include desktops-l(){
                font-size: 2.5rem;
            }
            @include desktops-xl(){
                font-size: 3rem;
            }
        }
        
        a{
            font-size: $a;
            @include tablet(){
                font-size: 2.4rem;
            }
            @include desktops-l(){
                font-size: 1.8rem;
            }
        }
    }
}